:root {
  --sanityCheck: 1px solid red;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  height: 100vh;
  outline: var(--sanityCheck);
}

section {
  display: flex;
  flex-direction: column;
}

.container h1 {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 300px;
  width: 200px;
  /* outline: var(--sanityCheck); */
}

img {
  margin: 5px;
  width: 50%;
  cursor: pointer;
}
