/* 

font color -> #262626
primary color -> #cf3c26
secondary color -> #cccccc

*/

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: /*haven't decided yet*/ ;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
}

img {
  margin-top: 20px;
}

#seconds,
#tens {
  font-size: 4em;
}

button {
  width: 150px;
  height: 50px;
  background: transparent;
  /* color: white; */
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
  -webkit-box-shadow: 10px 10px 24px -8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 24px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 24px -8px rgba(0, 0, 0, 0.3);
  font-size: 1.5em;
}

button:hover {
  background: black;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  transition: .9s;
}

/* small mobile */
@media screen and (min-width: 300px) and (max-width: 374px) {
  .container {
    margin: 20px auto;
  }

  img {
    width: 200px;
  }

  button {
    margin-bottom: 10px;
    width: 60%;
  }
}

/* huge mobile */
@media screen and (min-width: 375px) and (max-width: 487px) {
  img {
    width: 350px;
  }

  button {
    width: 50%;
    margin-bottom: 30px;
  }
}
