:root {
  --sanityCheck: 1px solid red;
  --darkPurple: #1e152a;
  --lambdaRed: #f03240;
  --white: #fff;
  --darkGreen: #156064;
  --lightGreen: #4e6766;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  min-height: 100vh;

  /* background: ; */
}

.container {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  color: var(--darkPurple);
  /* height: 100vh; */
  /* outline: var(--sanityCheck); */
}

.container h1 {
  text-align: center;
  color: var(--lambdaRed);
}

section {
  display: flex;
  flex-direction: column;
}

section .h2 {
  color: var(--lightGreen);
}

section #result {
  color: var(--darkGreen);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 300px;
  width: 200px;
  /* outline: var(--sanityCheck); */
}

img {
  /* margin: 5px; */
  width: 50%;
  cursor: pointer;
}
